menu "RTOS SDK Core Library Configuration"
    config APP_MODULE
        string "App module name"
        default "DEFAULT"

    config SYSTEM_DOMAIN
        string "System backend domain"
        default "home.quangiaso.com"
    config SYSTEM_PORT
        int "System backend port"
        default 80
    config IS_1MB_FLASH
        bool "Is esp01 with 1MB of flash"
        default n
endmenu
